body {
font-family: "Gravity", "Open Sans", sans-serif;
/* background-color: #4e4e4e; */
}
html, body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.row div {
min-height: 1px;
display: inline-block;
min-width: 1px;
border: 1px solid #4e4e4e;
flex-grow: 1;
aspect-ratio: 1;
}
.row div[state="0"] {
background-color: #2c2c2c;
}
.row div[state="1"] {
background-color: rgb(236, 236, 236);
}
th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    vertical-align: bottom;
}
tr:hover {background-color:#4e4e4e !important; color: aliceblue !important;}