.diceLine {
    margin: auto;
    width: 84px;
	display: grid;
	/*gap: 10px;*/
    margin-top: 40;
}

.dice {
	margin: auto;
	border: 3px solid #666;
	border-radius: .5em;
	padding: 10px;
	cursor: move;
	width: 20px;
}


.dice.over {
	border: 3px dotted #666;
}

.divider {
	height: 10px;
	width: 80px;
	border: 3px solid transparent
}

.divider.over {
	border: 3px dotted #666;
}

[draggable] {
	user-select: none;
}

input[type=